
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap');
body{
  font-family: 'Noto Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Noto Sans', sans-serif;
}

/* header top */
.header-top {
  background: #0b1d2f;
  padding: 10px 0px;
}
.mobile-menu{
  display: none;
}

.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu ul li {
  display: inline-block;
}

.main-menu ul li a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  padding: 10px 20px;
}

.header-top-button a {
  display: inline-block;
  text-decoration:  none;
  font-size: 14px;
  color: #fff;
  background: #0278f2;
  padding: 10px 18px;
  border-radius: 5px;
}
.logo img {
  padding: 5px 0px;
}

/* Hero section css */
.hero-section{
  background-image: url(assets/img/hero.jpg);
  background-size: cover;
  position: relative;
  z-index: 0;
}
.hero-section:after{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  opacity: .6;
}
.hero-content-wrapper p {
  color: #fff;
  font-weight: 600;
  /* padding: 0; */
  margin-bottom: 0;
  text-transform: uppercase;
}

.hero-content-wrapper h1 {
  color: #fff;
  font-size: 38px;
  text-transform: uppercase;
  margin-top: 9px;
  font-weight: 900;
}



.inso-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    /* text-decoration: none; */
    transition: .3s;
    padding: 10px 20px;
}
.inso-btn.inso-btn-dark{
  background: #0278f2;
}
.inso-btn.inso-btn-white{
  background: #fff;
  color: #0278f2;
}
.inso-btn:hover {
    text-decoration: none;
    color: #ddd;
}
.hero-content-wrapper {
  padding: 190px 0px;
}
/* service css */
.section-padding {
  padding: 50px 0px;
}
.achivement-section{
  background-image: url(assets/img/service.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.section-padding {
  padding: 50px 0px;
}

.service-title p {
  color: #0278f2;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.service-title h1 {
  font-size: 32px;
  margin-top: 8px;
}

.find-btn {
  text-align: right;
}

.find-btn a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  border: 2px solid#0278f2;
  padding: 10px 20px;
  border-radius: 5px;
}

.single-service-box {
  display: flex;
  align-items: center;
  margin-bottom: 37px;
  transition: .3s;
  border: 1px solid transparent;
  padding: 11px;
}

.service-icon i.fa {
  font-size: 50px;
  color: #0278f2;
  margin-right: 17px;
}

.service-content h5 {
  margin-bottom: 5px;
  /* padding: 0; */
  font-size: 18px;
  font-weight: 0;
  font-weight: 600;
}

.service-content p {
  margin-top: 5px;
  font-size: 15px;
}

.single-service-box:hover {
  border: 1px solid#e1e1e1;
  box-shadow: 1px 1px 0px 0px#e1e1e1;
}
.single-items-slide img {
  width: 100%;
  height: auto;
}
/* footer css */
footer {
  background: #0c2034;
  padding-top: 32px;
}
.counter-box icon i.fa {
  color: #0278f2;
}

.icon {
  color: #0278f2;
  font-size: 32px;
}

.counter-box span {
  font-size: 48px;
  font-weight: 700;
  color: #000;
  display: block;
}

/* footer css here */

.footer-widget-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-widget-menu ul li {
  display: block;
}

.footer-widget-menu ul li a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}
.footer-widgets h5 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer-widgets h5 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}

.copy-write-text {
  color: #fff;
  margin-top: 48px;
  position: relative;
}

.copy-write-text:before {
  position: absolute;
  top: -18px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  opacity: .10;
}
.footer-widget-menu li {
  color: #fff;
}
.footer-widgets img {
  width: 103px;
  margin-bottom: 30px;
}

.footer-widgets {
  color: #fff;
}

.footer-social a {
  color: #fff;
  display: inline-block;
  padding: 0px 10px;
}